.index-title {
  font-size: 100px;
}

.content{
  width: calc(100% - 296px);
  margin-left: auto;
}

.list-group-item.active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.txt_{
  color: #6c757d;
}


.assignment {
  min-width: 320px;
}

.fs-7{
  font-size: 12px;
}

